
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import "./vars";

body {
    margin: 0px;
    padding: 0px;
    background-color: $light-blue;
    font-family: 'Oxygen', sans-serif;
}