
<div class="wrapper">
  <div class="title">
    Task
  </div>
  <hr>
  
  <div *ngIf="task" class="task_wrapper">
    <div class="date">
      <div class="title">Date Created:</div>
      {{ task.dateCreated }}
    </div>
    <div class="button_wrapper">
      <button>Edit</button>
      <button *ngIf="!task.isComplete; else uncomplete" [ngClass]="{ 'complete': true }" (click)="onComplete()">Complete</button>
      <ng-template #uncomplete>
        <button [ngClass]="{ 'complete': true }" (click)="onComplete()">Uncomplete</button>
      </ng-template>
      <button [ngClass]="{ 'delete': true }" (click)="onDelete()">Delete</button>
    </div>
    <div class="description_wrapper">
      <div class="title">Description:</div>
      {{ task.description }}
    </div>
    <div *ngIf="task.isComplete" class="date">
      <div class="title">Date Completed:</div>
      {{ task.dateCompleted }}
    </div>
  </div>
</div>
